.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 500px;
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0);
}

.content * {
    margin-bottom: 1px;
}

.task {
    display: flex;
    width: 500px;
}

.main_button {
    width: 360px;
    height: 56px;
    margin-top: 5px !important;
    border-radius: 28px !important;
    background: #E37222 !important;
}

.button_text {
    font-size: 20px !important;
    color: #FFFFFF !important;
}