.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.login {
    top: 270px;
}

.register {
    top: 150px;
}

.form > *:not(:last-child) {
    margin-bottom: 40px;
}

.role_picker {
    display: flex;
}

.role_button {
    width: 170px;
    height: 56px;
    border-radius: 28px !important;
}

.role_button_active {
    background: #E37222 !important;
    color: #FFFFFF !important;
}

.role_button_inactive {
    background: #F5F0F6 !important;
    border: 1px solid #79747E !important;
    font-size: 20px !important;
    color: #79747E !important;
}

.pupil_button {
    margin-right: 20px !important;
}

.main_button {
    width: 360px;
    height: 56px;
    border-radius: 28px !important;
    background: #E37222 !important;
}

.button_text {
    font-size: 20px !important;
    color: #FFFFFF !important;
}

.sub {
    text-align: center;
}

.sub div {
    transform: translate(0px, -10px);
    font-size: 24px;
}

.sub_button {
    width: 280px;
    height: 40px;
    border-radius: 20px !important;
    background: #07889B !important;
}
