.homeworks {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 460px;
    font-size: 28px;
    line-height: 32px;
}

.title {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homework {
    margin-bottom: 20px;
    border: 2px dashed rgba(227, 114, 34, 0.8);
    border-radius: 15px;
}

.class_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-decoration: underline;
}

.name {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    line-height: 32px;
}