.main {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    margin: 3px 0px 3px 0px;
    text-align: justify;
    line-height: 32px;
}

.homeworks_content{
    margin-top: 20px;
    font-size: 28px;
    line-height: 32px;
    width: 460px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homework {
    margin-bottom: 20px;
    border: 2px dashed rgba(227, 114, 34, 0.8);
    border-radius: 15px;
}