.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0);
}

.homeworks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0);
}